#container{
    background-color: aliceblue;
    padding: 20px;
    width: 400px;
}

input{
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    margin-bottom: 5px;

}

ul , li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.list{
    margin: 15px 0;
}
.list > li {
    background-color: antiquewhite;
    padding: 5px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}
.btn{
    display: flex;
    justify-content: flex-end;
}
.btn > button{
    margin-top: 10px;
    height: 35px;
    width: 100px;
    background-color: cadetblue;
    border: none;
    border-radius: 4px;
}